.wrapper {
    margin: auto;
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #fff;
}

.sidebar ul {
    margin-top: 50px;
}

.sidebar ul li { 
    list-style: none;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    color: rgb(83, 82,82);
}

@media screen and (min-width: 471px) {
     ul li { 
    list-style: none;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    color: rgb(83, 82,82);
    margin-right: 20px;
}
}

.sidebar li a:hover {
background-color: rgb(83, 82,82);
color: #fff;

}

/* .Main Body */

.head {
    display: flex;
    padding: 20px 30px;
}

.head-title h1{
    font-size: 2rem;
    color: #fff;
}
.head-title span {
    font-size: 1rem;
    color: #fff;
}

.head-search {
    width: 400px;
    margin-left: 70%;
}

input {
    border: none;
    outline: none;
    padding: 7px 13px;
    border-radius: 15px;
}